*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{ 
    height: 100%;
    width: 100%;
}
#main{ 
    width: 100vw;
    background-color:pink;
}
#page1{ 
    width: 100vw;
    height: 100vh;
    background-color: rgb(217, 250, 250);
    position: absolute;
}
#nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3E3D3D;
}
#nav a{ 
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: gilroy;
    font-weight: 500;
    margin: 10px;
}
#nav h1{ 
    color: white;
    font-family: callifornia;
    font-size: 40px;
}
#craft{ 
    width: 50vw;
    height: 40vh;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: rgba(168, 166, 166, 0.285);
    position: absolute;
    right: 0;
    bottom: 0;
    
}
#craft1{ 
    width: 40vw;
    height: 30vh;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: rgb(62, 61, 61);
    position: absolute;
    right: 0;
    bottom: 0;
}
#img img{ 
    position: absolute;
    height: 600px;
    z-index: 10;
}
#text{ 
    position: absolute;
    top: 20%;
    left: 25%;

}
#text h1{ 
    font-size: 400px;
    font-family: gilroy;
    font-weight: 700;
    -webkit-text-stroke: 2px rgb(59, 58, 58);
    color:#0088C2;
    z-index: 8;

}
#buks{ 
    position: absolute;
    top: 40%;
    left: 25%; 
    font-size: 50px;
    color:#3E3D3D;
    font-family: poppins;
    line-height: 1;
}
#png img{ 
    position: absolute;
    height: 300px;
    top: 30%;
    left: 15%;
}
